
<!DOCTYPE html>
<html>
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- Favicon --}}
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    {{!-- Styles --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
    {{!-- Dynamic Meta Tags --}}
    <title>{{ metaTags.title }}</title>
</head>

<body>
    {{!-- Background Vid Start --}}
    <video autoplay muted loop id="myVid">
        <source src="/images/Optimized_Bite_Rain.mp4" type="video/mp4">
    </video>
    {{!-- Background Vid End --}}
    
    <div class="content">
        {{{body}}}
    </div>

    {{!-- Footer Start --}}
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <p> Free Stock Footage by <a class="credit" href="http://www.videezy.com" target="_blank">Videezy</a> </p>
            <p class="mb-0">Designed and Coded by &copy; <a class="team" href="https://github.com/KyleK86" target="_blank" onclick="window.open('https://github.com/TreezCode', 'Treez Github'); window.open('https://github.com/amandadovel', 'Amanda Github'); window.open('https://github.com/ahardy42', 'Andy Github');">Purple Monkey Hackers</a></p> 
        </div>
    </footer>
    {{!-- Footer End --}}


    {{!-- Moment --}}
    <script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
    {{!-- Jquery --}}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>