<!-- Placeholder navbar -->
<nav class="navbar navbar-light bg-light mb-4">
    <span class="navbar-brand mb-0 h1">Killer Mutant Robogotchis!!!!</span>
    <span><a id="logout" href="/logout">Logout</a></span>
</nav>

<div class="container">
    <!-- your character card -->
    <div class="row">
        <div class="card col-5 border-0">
            <div class="card-body character-card">
                <h5 class="card-title text-center">Your 'Gotchi</h5>
                <h4>users gotchi name will go here</h4>
                <!-- this will be the image of the character chosen by user -->
                <div class="text-center mb-3" style="height: 250px">
                    <img src="https://via.placeholder.com/250" class="img-fluid rounded" id="gotchi-img">
                </div>
            </div>
        </div>
        <!-- stats card -->
        <div class="stats">
            <div class="card col-5 border-0">
                <div class="card-body stat-card">
                    <h5 class="card-title text-center">What would you like to do with your Robot?</h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Feed</a>
                        <a href="#" class="list-group-item list-group-item-action">Entertain</a>
                        <a href="#" class="list-group-item list-group-item-action">Exercise</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>