<html>

<head>
    <meta charset="UTF-8">
    <title>login | robogotchi</title>
    <link rel="stylesheet" href="styles/reset.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/login.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!-- Placeholder navbar -->
    <nav class="navbar navbar-light bg-light mb-4">
        <span class="navbar-brand mb-0 h1">Killer Mutant Robogotchis!!!!</span>
    </nav>
    <div class="container">
        <div class="row">
            <!-- sign up card -->
            <div class="card col-5 border-0">
                <div class="card-body d-flex flex-wrap align-content-between m-5 sign-up">
                    <h3 class="card-title text-center mt-5 w-100">Sign Up!</h3>
                    <a href="/signup" class="btn btn-success w-50 mx-auto mb-3" role="button">Sign Up!</a>
                </div>
            </div>
            <!-- login card -->
            <div class="card col-7 border-0">
                <div class="card-body">
                    <h5 class="card-title text-center">Login to view your 'Gotchi</h5>
                    <form class="login">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Your email address <em>is</em> your
                                username</small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                            <span class="sr-only">Error:</span> <span class="msg"></span>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Log in!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>