
{{!-- Navbar Start --}}
<nav class="navbar mb-5">
    <img class="navbar-logo" src="/images/logo.png" alt="Robogotchi Logo">
    <span class="navbar-brand">Robogotchi Cyber Pets!!!</span>
    <span style="width: 100px"></span>
</nav>
{{!-- Navbar End --}}

{{!-- Main Container Start --}}
<div class="container pt-5">
    <div class="row justify-content-between">

        {{!-- Signup Card Start --}}
        <div class="card col-5 border-0">
            <div class="card-body d-flex flex-wrap align-content-center sign-up">
                <h3 class="card-title text-center w-100">Sign Up!</h3>
                <a href="/signup" class="btn btn-success mx-auto mb-3" role="button">Sign Up!</a>
            </div>
        </div>
        {{!-- Signup Card End --}}

        {{!-- Login Card Start --}}
        <div class="card col-6 border-0">
            <div class="card-body">
                <h5 class="card-title text-center">Login to view your 'Gotchi</h5>
                <form class="login">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                        <span class="sr-only">Error:</span> <span class="msg"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Log in!</button>
                    </div>
                </form>
            </div>
        </div>
        {{!-- Login Card End --}}
        
    </div>
</div>
{{!-- Main Container End --}}


{{!-- Scripts --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
