
{{!-- Navbar Start --}}
<nav class="navbar navbar-light bg-light mb-4">
    <span class="navbar-brand mb-0 h1">Killer Mutant Robogotchis!!!!</span>
    <span><a id="login" href="/login">Already a User?</a></span>
</nav>
{{!-- Navbar End --}}

{{!-- Main Container Start --}}
<div class="container">
    <div class="row">

        {{!-- Build Gotchi Start --}}
        <div class="card col-5 border-0">
            <div class="card-body character-card">
                <h5 class="card-title text-center">Your 'Gotchi</h5>
                <form class="gotchi">
                    <div class="form-group">
                        <select class="custom-select">
                            <option selected>Select Your Character Class</option>
                            <option value="robot">Robot</option>
                            <option value="alien">Alien</option>
                            <option value="human">Human</option>
                        </select>
                    </div>
                    <div class="text-center mb-3" style="height: 250px">
                        <img src="https://via.placeholder.com/250" class="img-fluid rounded" id="gotchi-img">
                    </div>
                    <div class="form-group">
                        <label for="gotchi-name">Name your 'Gotchi</label>
                        <input type="text" class="form-control" id="gotchi-name" placeholder="Name that 'Gotchi">
                    </div>
                </form>
            </div>
        </div>
        {{!-- Build Gotchi End --}}

        {{!-- Signup Card Start --}}
        <div class="card col-7 border-0">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Fill out all inputs to create an account</h5>
                <form class="sign-up">
                    <div class="form-group">
                        <label for="name">What is your username?</label>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="username" class="form-control" name="username" id="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password-check">Re-Enter Password</label>
                        <input type="password" class="form-control" name="password-check" id="password-check" placeholder="Re-Enter Password">
                    </div>
                    {{#if errors}}
                        {{#each errors}}
                            <p class="alert alert-danger">{{ this.msg }}</p>
                        {{/each}}
                    {{/if}}
                    <div class="form-group d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Create Account!</button>
                    </div>
                </form>
            </div>
        </div>
        {{!-- Signup Card End --}}

    </div>
</div>
{{!-- Main Container End --}}

{{!-- Scripts --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/signup.js"></script>