.list-group-item {
  line-height: 2.5;
}
/* 
.sign-up {
  border: 2px solid rgb(3, 59, 3);
}

.character-card {
  border: 2px solid rgb(3, 59, 3);
} */

/*------------------------------------*/
/* Navbar Style */
/*------------------------------------*/
.navbar {
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.568)!important;

}

.navbar-logo {
  width: 200px;
  margin: -50px 0;
}

#login,
#logout {
  color: white;
  transition: all 0.25s;
}

#logout:hover,
#login:hover {
  color: #4afdfe;
  text-decoration: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.navbar-brand {
  font-family: 'Russo One', sans-serif;
  color: white !important;
  font-size: 32px;
  padding: 10px;
  text-shadow: 2px 2px #1a5cb1;
}

/*------------------------------------*/
/* Card Style */
/*------------------------------------*/
.sign-up-card {
  margin-right: 50px;
}

.card {
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
}
.card-title {
  font-family: 'Russo One', sans-serif;
}

#user-gotchi {
  text-align: center;
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
}

#gotchi-img {
    width: 80%;
    object-fit: cover;
}

.alert {
  font-size: 0.75em;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

/*------------------------------------*/
/* Video Style */
/*------------------------------------*/
#myVid {
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  top: 0;
  position: absolute;
  width: 100%;
}

/*------------------------------------*/
/* Button Style */
/*------------------------------------*/
.btn:focus {
  box-shadow: none;
}

.btn-success {
  color:#02187a;
  background-color: #4afdfe;
  border-color: #1a5cb1;
  margin-top: 1em;
  transition: all 0.25s;
}

.btn-success:hover,
.btn:active {
  color: white;
  background-color: #1a5cb1 !important;
  border: none;
  box-shadow: 0px 0px 10px 3px #4afdfe !important;
  transform: scale(1.05)
}
