
/*------------------------------------*/
/* Body Style */
/*------------------------------------*/
html,
body {
    height: 100vh;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background: rgb(1,8,19)
}

/*------------------------------------*/
/* Navbar Style */
/*------------------------------------*/

.navbar {
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.568) !important;
    padding-top: 0;
}

.navbar-logo {
    width: 200px;
    margin: -50px 0;
    user-select: none;
}

#login,
#logout,
#boot-btn {
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    color: white;
    transition: all 0.25s;
    user-select: none;
}

#logout:hover,
#login:hover,
#boot-btn:hover {
    color: #00e2e2;
    text-decoration: none;
    transform: scale(1.15);
}

.navbar-brand {
    font-family: "Russo One", sans-serif;
    color: white !important;
    font-size: 48px;
    letter-spacing: 3px;
    font-variant: small-caps;
    padding: 10px;
    text-shadow: 2px 2px #1a5cb1;
    user-select: none;
}

/*------------------------------------*/
/* Card Style */
/*------------------------------------*/
.sign-up-card {
    margin-right: 50px;
}

.card {
    color: white;
    background-color: rgba(0, 0, 0, 0.568);
}
.card-title {
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    user-select: none;
}

label,
input {
    user-select: none;
}

.form-group > input,
.form-group > input:focus {
    background: rgba(0, 0, 0, 0.884);
    color: white;
    border: 1px solid white;
    box-shadow: none;
    outline: none;
}

.list-group-item {
    display: flex;
    justify-content: space-evenly;
    line-height: 2.5;
    user-select: none;
}

.custom-select {
    background: black;
    color: #4afdfe;
    border: 1px solid white;
}

.custom-select:focus {
    border: 1px solid white;
    box-shadow: none;
}

#user-gotchi {
    text-align: center;
    color: #4afdfe;
    font-family: "Russo One", sans-serif;
    font-size: 1.5em;
    letter-spacing: 1px;
    user-select: none;
}

#gotchi-img {
    width: 80%;
    object-fit: cover;
    user-select: none;
}

#feedBtn,
#entertainBtn,
#exerciseBtn {
    color: white;
    background: rgba(1, 8, 19, 0.76);
    margin: 0.25em;
    transition: all 0.25s;
    cursor: pointer;
}

#feedBtn:hover,
#entertainBtn:hover,
#exerciseBtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 1px #4afdfe;
}

#feedBtn:focus,
#entertainBtn:focus,
#exerciseBtn:focus {
    outline: none;
}

#healthDiv {
    font-family: "Russo One", sans-serif;
    letter-spacing: 1px;
    font-size: 1.15em;
    color: #00c40a;
    margin: 0.25em;
    justify-content: center;
    background: rgba(1, 8, 19, 0.76);
    box-shadow: 0 0 10px 1px #02fa0e;
}

.alert {
    font-size: 0.75em;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

/*------------------------------------*/
/* Modal Style */
/*------------------------------------*/
.modal-content {
    color: white;
    background: rgba(0, 0, 0, 0.856);
    box-shadow: 0 0 10px 0px #4afdfe;
}

.modal-title {
    color: #00c40a;
    width: 100%;
    text-align: -webkit-center;
    margin-left: 25px;
}

.modal-body {
    text-align: center;
}

.modal-body p {
    margin: 1em 0;
}

.modal-footer {
    justify-content: center;
}

#exit {
    color: #4afdfe;
}

/*------------------------------------*/
/* Video Style */
/*------------------------------------*/
#myVid {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 125%;
    object-fit: fill;
    z-index: -1;
}

.content {
    top: 0;
    position: absolute;
    width: 100%;
}

/*------------------------------------*/
/* Button Style */
/*------------------------------------*/
.btn:focus {
    box-shadow: none;
}

.btn-success {
    color: #02187a;
    background-color: #4afdfe;
    border-color: #1a5cb1;
    margin-top: 1em;
    transition: all 0.25s;
}

.btn-success:hover,
.btn:active {
    color: white;
    background-color: #1a5cb1 !important;
    border: none;
    box-shadow: 0px 0px 10px 3px #4afdfe !important;
    transform: scale(1.05);
}

/*------------------------------------*/
/* 404 Not Found Style*/
/*------------------------------------*/
#errortron {
    background: rgba(0, 0, 0, 0.568) !important;
    color: white;
}

/*------------------------------------*/
/* Scrollbar Style*/
/*------------------------------------*/
body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(26, 92, 177);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(74, 253, 254);
}
