.list-group-item {
  line-height: 2.5;
}
/* 
.sign-up {
  border: 2px solid rgb(3, 59, 3);
}

.character-card {
  border: 2px solid rgb(3, 59, 3);
} */

/*------------------------------------*/
/* Nav bar style */
/*------------------------------------*/

.navbar a {
  color: white;
  transition: all 0.25s;
}

.navbar a:hover {
  color: #4afdfe;
  text-decoration: none;
}

.nav-head {
  font-family: 'Russo One', sans-serif;
}

.navbar-light .navbar-brand {
  color: white !important;
  font-size: 32px;
  padding: 10px;
  text-shadow: 2px 2px #1a5cb1;
  margin-left: 80px;

}
.bg-light {
  background-color: rgba(0, 0, 0, 0.568)!important;
}

/*------------------------------------*/
/* card style */
/*------------------------------------*/

.sign-up-card {
  margin-right: 50px;
}

.card {
  color: white;
  background-color: rgba(0, 0, 0, 0.568);
}
.card-title {
  font-family: 'Russo One', sans-serif;
}

/*------------------------------------*/
/* video style */
/*------------------------------------*/

#myVid {
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.content {
  top: 0;
  position: absolute;
  width: 100%;
}

/*------------------------------------*/
/* button style */
/*------------------------------------*/

.btn-success {
  color:#02187a;
  background-color: #4afdfe;
  border-color: #1a5cb1;
}

.btn-success:hover {
  color: white;
  background-color: #1a5cb1;
  border: none;
  box-shadow: 3px 3px 4px #4afdfe;

}

#gotchi-img {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}
